@import "../../styles/media";

.Safe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #2d3f53;
  width: 80%;
  padding: 24px 24px 24px 48px;

  @include table {
    padding: 12px 12px 12px 24px;
  }
  @include mobile {
    padding: 16px;
  }
}
